# Because OSX
.DS_Store

# Ignore Sublime project files.
*.sublime*

# Ignore Vagrant instance files.
.vagrant

# Ignore PHPStorm project files.
/.idea

# Ignore node modules created by NPM
/node_modules

# Ignore log file created during deployment.
/prod-deployments.log
