#toc {
	top: 150px;
	right: 10px;
	height: auto;
	position: fixed;
	background: #eee;
	width: 200px;
	padding: 10px;
	color: #fff;
}

#toc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#toc li {
	padding: 5px 10px;
	list-style: none;
}

#toc a {
	color: #333;
	text-decoration: none;
	display: block;
}

#toc .toc-h2 {
	padding-left: 10px;
}

#toc .toc-h3 {
	padding-left: 20px;
}

#toc .toc-active {
	background: #dedede;
}