/* subscribe.css PowerPress subscribe widget */

.pp-sub-widget {
	width: 100%;
	max-width: 800px;
	margin: 10px auto;
	font-family: Sans-serif;
	background-color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 10px 10px;
}
.pp-sub-widget .pp-sub-bx {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	width: auto;
	height: auto;
	margin: 0 10px;
}

.pp-sub-widget div.pp-sub-h {
	margin: 10px 10px 0 10px;
	font-size: 90%;
	font-weight: bold;
	color: rgb(25,118,210);
}
.pp-sub-widget div.pp-sub-t {
	font-weight: bold;
	margin: 10px 10px 0 10px;
	padding: 0;
	font-size: 200%;
	color: rgb(0, 51, 102);
}
.pp-sub-widget-include div.pp-sub-t {
	margin: -15px 10px 0 10px !important;
	padding: 0 !important;
	font-size: 200% !important;
	color: rgb(0, 51, 102) !important;
}
.pp-sub-widget p.pp-sub-st {
	margin: 5px 10px 0 10px;
	padding: 0;
	font-size: 100%;
	color: #222222;
}
.pp-sub-widget-include p.pp-sub-st {
	margin: 5px 10px 0 10px !important;
	padding: 0 !important;
	font-size: 100% !important;
	color: #222222 !important;
}

/*Styling for square buttons, classic and modern*/
.pp-sub-widget a.pp-sub-btn-sq {
	height: 48px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	line-height: 48px;
	overflow: hidden;
	width: 100%;
}
.pp-sub-widget-include a.pp-sub-btn-sq {
	width: 100% !important;
}
.pp-sub-widget-modern a.pp-sub-btn-sq {
	color: #707070;
	margin: 6px 0 6px 0;
	border-top: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	font: 15px arial, sans-serif;
	padding-right: 10px;
	background-position: center;
	transition: background 0.8s;
	font-size: 80%;
}
.pp-sub-widget-modern.pp-sub-widget-include a.pp-sub-btn-sq {
	font-size: 80% !important;
}
.pp-sub-widget-classic a.pp-sub-btn-sq, .pp-sub-widget-dark a.pp-sub-btn-sq {
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 10px 0 10px 0;
	border-radius: 1px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	font-size: 90%;
	font-weight: bold;
}
.pp-sub-widget-classic.pp-sub-widget-include a.pp-sub-btn-sq, .pp-sub-widget-dark.pp-sub-widget-include a.pp-sub-btn-sq {
	font-size: 90% !important;
	font-weight: bold !important;
}
/*Styling for round buttons, classic and modern*/
.pp-sub-widget a.pp-sub-btn {
	height: 48px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	line-height: 48px;
	overflow: hidden;
	border-radius: 50px;
	width: 100%;
}
.pp-sub-widget-include a.pp-sub-btn {
	width: 100% !important;
}
.pp-sub-widget-modern a.pp-sub-btn {
	color: #707070;
	margin: 6px 0 6px 0;
	border: 1px solid #C4C4C4;
	font: 15px arial, sans-serif;
	padding-right: 20px;
	background-position: center;
	transition: background 0.8s;
	font-size: 80%;
}
.pp-sub-widget-modern.pp-sub-widget-include a.pp-sub-btn {
	font-size: 80% !important;
}
.pp-sub-widget-classic a.pp-sub-btn, .pp-sub-widget-dark a.pp-sub-btn {
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 10px 0 10px 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	font-size: 90%;
	font-weight: bold;
}
.pp-sub-widget-classic.pp-sub-widget-include a.pp-sub-btn, .pp-sub-widget-dark.pp-sub-widget-include a.pp-sub-btn {
	font-size: 90% !important;
	font-weight: bold !important;
}

body .entry-content .pp-sub-widget a:link,
body .entry-content .pp-sub-widget a:visited,
body .entry-content .pp-sub-widget a:active,
body .entry-content .pp-sub-widget a:hover,
body .pp-sub-widget a:link,
body .pp-sub-widget a:visited,
body .pp-sub-widget a:active,
body .pp-sub-widget a:hover {
	text-decoration: none;
}
body .entry-content .pp-sub-widget-include a:link,
body .entry-content .pp-sub-widget-include a:visited,
body .entry-content .pp-sub-widget-include a:active,
body .entry-content .pp-sub-widget-include a:hover,
body .pp-sub-widget-include a:link,
body .pp-sub-widget-include a:visited,
body .pp-sub-widget-include a:active,
body .pp-sub-widget-include a:hover {
	text-decoration: none !important;
}
body .entry-content .pp-sub-widget-classic a:link,
body .entry-content .pp-sub-widget-classic a:visited,
body .entry-content .pp-sub-widget-classic a:active,
body .entry-content .pp-sub-widget-classic a:hover,
body .pp-sub-widget-classic a:link,
body .pp-sub-widget-classic a:visited,
body .pp-sub-widget-classic a:active,
body .pp-sub-widget-classic a:hover {
	color: #FFFFFF;
}
body .entry-content .pp-sub-widget-classic.pp-sub-widget-include a:link,
body .entry-content .pp-sub-widget-classic.pp-sub-widget-include a:visited,
body .entry-content .pp-sub-widget-classic.pp-sub-widget-include a:active,
body .entry-content .pp-sub-widget-classic.pp-sub-widget-include a:hover,
body .pp-sub-widget-classic.pp-sub-widget-include a:link,
body .pp-sub-widget-classic.pp-sub-widget-include a:visited,
body .pp-sub-widget-classic.pp-sub-widget-include a:active,
body .pp-sub-widget-classic.pp-sub-widget-include a:hover {
	color: #FFFFFF !important;
}
body .entry-content .pp-sub-widget-dark a:link,
body .entry-content .pp-sub-widget-dark a:visited,
body .entry-content .pp-sub-widget-dark a:active,
body .entry-content .pp-sub-widget-dark a:hover,
body .pp-sub-widget-dark a:link,
body .pp-sub-widget-dark a:visited,
body .pp-sub-widget-dark a:active,
body .pp-sub-widget-dark a:hover {
	color: #FFFFFF;
}
body .entry-content .pp-sub-widget-dark.pp-sub-widget-include a:link,
body .entry-content .pp-sub-widget-dark.pp-sub-widget-include a:visited,
body .entry-content .pp-sub-widget-dark.pp-sub-widget-include a:active,
body .entry-content .pp-sub-widget-dark.pp-sub-widget-include a:hover,
body .pp-sub-widget-dark.pp-sub-widget-include a:link,
body .pp-sub-widget-dark.pp-sub-widget-include a:visited,
body .pp-sub-widget-dark.pp-sub-widget-include a:active,
body .pp-sub-widget-dark.pp-sub-widget-include a:hover {
	color: #FFFFFF !important;
}
/* Ripple effects for horizontal modern buttons */
.pp-sub-widget-modern a.pp-sub-btn:hover, .pp-sub-widget-modern a.pp-sub-btn-sq:hover {
	background: #ebebeb radial-gradient(circle, transparent 1%, #ebebeb 1%) center/15000%;
}
.pp-sub-widget-modern .pp-sub-itunes.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-itunes.pp-sub-btn-sq:active {
	background-color: #AB42DF;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-android.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-android.pp-sub-btn-sq:active {
	background-color: #75BA26;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-email.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-email.pp-sub-btn-sq:active {
	background-color: #018C8B;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-gp.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-gp.pp-sub-btn-sq:active {
	background-color: #F9BA01;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-stitcher.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-stitcher.pp-sub-btn-sq:active {
	background-color: #2B91C9;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-tunein.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-tunein.pp-sub-btn-sq:active {
	background-color: #1C1F3D;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-spotify.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-spotify.pp-sub-btn-sq:active {
	background-color: #3EB559;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-iheartradio.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-iheartradio.pp-sub-btn-sq:active {
	background-color: #960d16;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-deezer.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-deezer.pp-sub-btn-sq:active {
	background-color: #007feb;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-pandora.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-pandora.pp-sub-btn-sq:active {
	background-color: #3668ff;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-rss.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-rss.pp-sub-btn-sq:active {
	background-color: #FF6600;
	background-size: 100%;
	transition: background 0s;
}
.pp-sub-widget-modern .pp-sub-more.pp-sub-btn:active, .pp-sub-widget-modern .pp-sub-more.pp-sub-btn-sq:active {
	background-color: #333333;
	background-size: 100%;
	transition: background 0s;
}
/*Classic widget background colors*/
.pp-sub-widget-dark a,
.pp-sub-widget-classic a {
	background-color: #222222;
}
.pp-sub-widget-classic a.pp-sub-itunes {
	background-color: #732BBE;
}
.pp-sub-widget-classic a.pp-sub-pr,
.pp-sub-widget-classic a.pp-sub-email {
	background-color: #337EC9;
}
.pp-sub-widget-classic a.pp-sub-bp,
.pp-sub-widget-classic a.pp-sub-rss {
	background-color: #FF8800;
}

.pp-sub-widget-classic a.pp-sub-stitcher {
	background-color: #222222;
	background-color: #3ec6ff; /* stitcher light blue */
	background-color: #197195; /* stitcher dark blue */
}
.pp-sub-widget-classic a.pp-sub-tunein {
	background-color: #2CB6A8;
}
.pp-sub-widget-classic a.pp-sub-gp {
	background-color: #F15832; /* google yellow */
	background-color: #3cba54; /* google green */
	background-color: #4885ed; /* google blue */
	background-color: #db3236; /* google red */
}
.pp-sub-widget-classic a.pp-sub-spotify {
	background-color: #1db954;
}
.pp-sub-widget-classic a.pp-sub-android {
	background-color: #6AB344;
}
.pp-sub-widget-classic a.pp-sub-iheartradio {
	background-color: #960d16;
}
.pp-sub-widget-classic a.pp-sub-deezer {
	background-color: #007feb;
}
.pp-sub-widget-classic a.pp-sub-pandora {
	background-color: #3668ff;
}

.pp-sub-widget-classic  div.pp-sub-h,
.pp-sub-widget-classic  p.pp-sub-m-p {
	color: #337EC9;
}

.pp-sub-widget img.pp-sub-l {
	max-width: 300px;
	padding: 0;
	margin: 10px 0;
	float: left;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: auto;
}
.pp-sub-widget-include img.pp-sub-l {
	width: 100% !important;
	height: auto !important;
}
.pp-sub-widget .pp-sub-btns {
	margin:  0;
	padding: 0;
	display: inline-block;
	width: 100%;
}
.pp-sub-widget-include .pp-sub-btns {
	width: 100% !important;
}
.pp-sub-widget .pp-sub-m {
	clear: both;
	margin: 10px;
}
.pp-sub-widget p.pp-sub-m-p {
	margin: 0;
	font-size: 90%;
	color: rgb(25,118,210);
}
.pp-sub-widget .pp-sub-m-i {
	width: 80%;
	color: #333333;
	font-size: 85%;
	border: 1px solid #999999;
	padding: 5px;
}
.pp-sub-widget-modern a.pp-sub-btn:hover, .pp-sub-widget-modern a.pp-sub-bub-sq:hover {
	color: #444444;
}
@media screen and (max-width: 400px) {
	.pp-sub-widget .pp-sub-bx {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	.pp-sub-widget .pp-sub-t {
		font-size: 150%;
	}
}

/*Styling for icons, classic and modern*/
.pp-sub-ic {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 0;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-right: 2px;
	background-size: 50px;
}
.pp-sub-widget-modern .pp-sub-ic {
	padding-left: 15px;
	background-image: url('../images/modern_icon_sprite.svg');
}
.pp-sub-widget-classic .pp-sub-ic, .pp-sub-widget-dark .pp-sub-ic {
	background-image: url('../images/white_logos.svg');
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.pp-sub-widget-modern a .pp-sub-ic {
		background-image: url('../images/modern-icon-sprite.png');
	}
	.pp-sub-widget-classic a .pp-sub-ic, .pp-sub-widget-dark a .pp-sub-ic {
		background-image: url('../images/white_logos.png');
		width: 50px;
		background-size: 50px;
	}
}

/*Sprite background positions for classic buttons*/
.pp-sub-widget-classic .pp-sub-itunes .pp-sub-ic, .pp-sub-widget-dark .pp-sub-itunes .pp-sub-ic {
	background-position: 0 -5px;
}
.pp-sub-widget-classic .pp-sub-rss .pp-sub-ic, .pp-sub-widget-dark .pp-sub-rss .pp-sub-ic {
	background-position: 0 -355px;
}
.pp-sub-widget-classic .pp-sub-email .pp-sub-ic, .pp-sub-widget-dark .pp-sub-email .pp-sub-ic {
	background-position: 0 -105px;
}
.pp-sub-widget-classic .pp-sub-android .pp-sub-ic, .pp-sub-widget-dark .pp-sub-android .pp-sub-ic {
	background-position: 0 -55px;
}
.pp-sub-widget-classic .pp-sub-stitcher .pp-sub-ic, .pp-sub-widget-dark .pp-sub-stitcher .pp-sub-ic {
	background-position: 0 -205px;
}
.pp-sub-widget-classic .pp-sub-tunein .pp-sub-ic, .pp-sub-widget-dark .pp-sub-tunein .pp-sub-ic {
	background-position: 0 -255px;
}
.pp-sub-widget-classic .pp-sub-spotify .pp-sub-ic, .pp-sub-widget-dark .pp-sub-spotify .pp-sub-ic {
	background-position: 0 -305px;
}
.pp-sub-widget-classic .pp-sub-gp .pp-sub-ic, .pp-sub-widget-dark .pp-sub-gp .pp-sub-ic {
	background-position: 0 -155px;
}
.pp-sub-widget-classic .pp-sub-more .pp-sub-ic, .pp-sub-widget-dark .pp-sub-more .pp-sub-ic {
	background-position: 0 -405px;
}
.pp-sub-widget-classic .pp-sub-iheartradio .pp-sub-ic, .pp-sub-widget-dark .pp-sub-iheartradio .pp-sub-ic {
	background-position: 0 -455px;
}
.pp-sub-widget-classic .pp-sub-deezer .pp-sub-ic, .pp-sub-widget-dark .pp-sub-deezer .pp-sub-ic {
	background-position: 0 -505px;
}
.pp-sub-widget-classic .pp-sub-pandora .pp-sub-ic, .pp-sub-widget-dark .pp-sub-pandora .pp-sub-ic {
	background-position: 0 -555px;
}


/*Sprite background positions for modern buttons*/
.pp-sub-widget-modern .pp-sub-itunes.pp-sub-btn-sq {
	border-left: 3px solid #AB42DF;
}
.pp-sub-widget-modern .pp-sub-itunes .pp-sub-ic {
	background-position: 0 -5px;
}
.pp-sub-widget-modern .pp-sub-android.pp-sub-btn-sq {
	border-left: 3px solid #75BA26;
}
.pp-sub-widget-modern .pp-sub-android .pp-sub-ic {
	background-position: 0 -55px;
}
.pp-sub-widget-modern .pp-sub-email.pp-sub-btn-sq {
	border-left: 3px solid #018C8B;
}
.pp-sub-widget-modern .pp-sub-email .pp-sub-ic {
	background-position: 0 -106px;
}
.pp-sub-widget-modern .pp-sub-gp.pp-sub-btn-sq {
	border-left: 3px solid #F9BA01;
}
.pp-sub-widget-modern .pp-sub-gp .pp-sub-ic {
	background-position: 0 -155px;
}

.pp-sub-widget-modern .pp-sub-stitcher.pp-sub-btn-sq {
	border-left: 3px solid #2B91C9;
}
.pp-sub-widget-modern .pp-sub-stitcher .pp-sub-ic {
	background-position: 0 -205px;
}
.pp-sub-widget-modern .pp-sub-tunein.pp-sub-btn-sq {
	border-left: 3px solid #1C1F3D;
}
.pp-sub-widget-modern .pp-sub-tunein .pp-sub-ic {
	background-position: 0 -255px;
}

.pp-sub-widget-modern .pp-sub-spotify.pp-sub-btn-sq {
	border-left: 3px solid #3EB559;
}
.pp-sub-widget-modern .pp-sub-spotify .pp-sub-ic {
	background-position: 0 -307px;
}

.pp-sub-widget-modern .pp-sub-iheartradio.pp-sub-btn-sq {
	border-left: 3px solid #960d16;
}
.pp-sub-widget-modern .pp-sub-iheartradio .pp-sub-ic {
	background-position: 0 -456px;
}

.pp-sub-widget-modern .pp-sub-deezer.pp-sub-btn-sq {
	border-left: 3px solid #007feb;
}
.pp-sub-widget-modern .pp-sub-deezer .pp-sub-ic {
	background-position: 0 -507px;
}

.pp-sub-widget-modern .pp-sub-pandora.pp-sub-btn-sq {
	border-left: 3px solid #3668ff;
}
.pp-sub-widget-modern .pp-sub-pandora .pp-sub-ic {
	background-position: 0 -555px;
}

.pp-sub-widget-modern .pp-sub-rss.pp-sub-btn-sq {
	border-left: 3px solid #FF6600;
}
.pp-sub-widget-modern .pp-sub-rss .pp-sub-ic {
	background-position: 0 -355px;
}

.pp-sub-widget-modern .pp-sub-more.pp-sub-btn-sq {
	border-left: 3px solid #333333;
}

.pp-sub-widget-modern .pp-sub-more .pp-sub-ic {
	background-position: 0 -405px;
}
.pp-sub-widget-modern .pp-sub-btn::after,
.pp-sub-widget-modern .pp-sub-btn-sq::after {
	content: url("../images/arrow.svg");;
	width: 20px;
	display: inline-block;
	float: right;
	margin-top: 16px;
}

/* Retina-specific stuff here */
@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
only screen and (min--moz-device-pixel-ratio: 2.0),
only screen and (-o-min-device-pixel-ratio: 200/100),
only screen and (min-device-pixel-ratio: 2.0) {
	.pp-sub-ic {
		/*background-image: url(../images/spriteRetina2.png);*/
	}
}